.dashboard-score {
    flex-basis: 31%;
    display: flex;
    aspect-ratio: 0.98;
    justify-content: center;
    align-items: center;

    &__wrapper {
        display: flex;
        width: 84.5%;
        aspect-ratio: 1;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    &__title {
        position: absolute;
        top: 0;
        left: 12px;
        font-size: 15px;
        font-weight: 500;
        line-height: 24px;

    }

    &__center {
        position: absolute;
        display: flex;
        flex-direction: column;
        width: 95px;
        height: 75px;
        margin: auto;
        text-align: center;
        padding-top: 5%;

        &__number {
            font-size: 26px;
            font-weight: 700;
            line-height: 26px;
            text-align: center;
            color: $clr-tertiary;
        }

        &__legend {
            font-size: 16px;
            font-weight: 500;
            line-height: 26px;
            text-align: center;
            color: $clr-secondary
        }

    }
}