.loader {
    display: flex;
    justify-content: space-around;

    &__icon {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        border: 6px solid $clr-primary;
        border-radius: 50%;
        animation: fullRotate 1s infinite linear;
        width: 50%;
    }
}

.loader {

    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 200px;
    padding-top: 200px;

    div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 35%;
        height: 35%;
        left: 32.5%;
        top: 100px;
        border: 8px solid $clr-primary;
        border-radius: 50%;
        animation: fullRotate 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: $clr-primary transparent transparent transparent;
    }

    div:nth-child(1) {
        animation-delay: -0.45s;
    }

    div:nth-child(2) {
        animation-delay: -0.3s;
    }

    div:nth-child(3) {
        animation-delay: -0.15s;
    }
}